/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

#__next {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
