/* app/globals.css */

/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  -webkit-overflow-scrolling: touch;
}

#__next {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


