/* GLOBAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* BASE DOCUMENT */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* NEXT ROOT */
#__next {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
